<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftStepper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>575D94DC2076EEC4004E65CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575D94F32076EEC5004E65CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575D94FE2076EEC5004E65CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
